[Desktop Entry]
Type=Application
Name=VPULSE
GenericName=Game Recorder
Comment=Record and clip your gameplay
Exec=vpulse %U
Icon=tv.vpulse.VPULSE
Terminal=false
Categories=AudioVideo;Recorder;
Keywords=record;clip;gameplay;capture;screen;
StartupWMClass=VPULSE
